@charset "UTF-8";
/* CSS Document */
img.logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron {
	background-color:rgba(234,24,27,0.77);
	
}

.footer	{
	background-color:rgba(0,0,0,1.00);
	color: #FFFFFF;
	padding: 10px 0 10px 0;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}


#first {
	background-color:rgba(197,181,181,0.59);
	padding-top: 180px;
}


